<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Program -->
    <add key="SingleInstance" value="True" />
    <add key="SaveWindowPosition" value="False" />
    <add key="WindowMain" value="0,0" />
    <!-- Renamer -->
    <add key="UsePattern" value="" />
    <add key="UseLabel" value="True" />
    <add key="UsePackage" value="False" />
    <add key="UseVersion" value="True" />
    <add key="UseBuild" value="False" />
    <add key="UseSuffixEnclosure" value="True" />
    <add key="Separator" value="0" />
    <!-- Installer -->
    <add key="LastAddress" value="192.168.1.4" />
    <add key="AutoInstall" value="False" />
    <add key="AutoUninstall" value="False" />
    <add key="AutoClose" value="False" />
  </appSettings>
</configuration>